body{
    margin: 0;
}
h1 {
    font-size: 50px;
}
.text-orange{
    color: orange;
}

.first-family{
    width: 39%;
    float: left;
    margin: 4%;
    padding: 1%;
    
    
    
}

.first-family img {
    width: 100%;
}

.top-bnners{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}




.button{
    text-decoration: none;
    background-color: brown;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(48deg, orange, tomato);
}
.banner-family-tree{
    background-image: url("image/dream-bg.png");
   background-repeat: no-repeat;
   background-position: right;
}

.button-two{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(45deg, rgb(11, 163, 209), orange);
}

.single-part{
    box-shadow: 10px 10px 40px rgb(124, 134, 134);
    border-radius: 10px;
    background-color: white;
    height: 250px;

}

.background-ph{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#background-line{
    
    border-left: 8px solid orange;
    
}

#background-line-two{
    border-left: 8px solid rgb(27, 146, 194);

}

footer p {
   text-align: center;
}