body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}

.name-haigilight{
    color: orange;
}
.width_half{
    width: 40%;
    float: left ;
    margin-left: 5%;
    padding: 2%;
}

.width_half img{
    width: 100%;
}
