body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 50px;
    font-weight: bold;
    
}

p {
    color:rgb(0, 0, 0);
}


.name-haigilight{
    color: orange;
}
.width_half{
    width: 40%;
    float: left ;
    margin-left: 5%;
    padding: 2%;
}

.width_half img{
    width: 100%;
}


.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.button{
    text-decoration: none;
    color: white ;
    background-color: rgb(218, 65, 39);
    border-radius: 5px;
    padding: 5px 10px; 
    font-weight: 700;
    background-image: linear-gradient(45deg, red, tomato);
}



.top_banner_secend{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
 
   
}

.button_two {
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient(48deg, red, orange);
}


.single-experince {
    box-shadow: 10px 10px 40px rgb(87, 87, 87);
    border-radius: 10px; 
    height: 60%; 
    background-color: white;    
}
.ls-bag{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align:  center;
}

#experienceces{
    border-left: 8px solid ;
    border-image: linear-gradient(240deg, orange, tomato);
    border-image-slice: 1;
}

#experiences-two {
    border-left: 8px solid rgb(31, 115, 148);
}